<html lang='en'>

<head>
    {{> partials/header}}
</head>

<body>
{{> partials/buttons}}

<h1>Welcome to my application!</h1><br>

<h2>Please log in or register to access functionality.</h2>

</body>

</html>