<!DOCTYPE html>
<html>

<head>
{{>header}}
</head>

<body>
<ul>
  <li><a href="/">Home</a></li>
  <li><a href="/planner">Goal Feed</a></li>
  <li><a href="/new">New Goal</a></li>

</ul>
</body>

</html>